

.customCheckBox {
    background: #1F1F1F;
    width: 1.5em;
    height: 1.5em;
    border-radius: 30%;
    display: inline-block;
    position: relative;
    transition: background-color 0.3s ease;
}

.checked{
    background-color: #6EADFF;
}
