.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    position: relative;
}

.auth {
    margin: 0 0 71px 0;
}

.h5 {
    margin: 100px 0 15px 0;
    position: relative;
}

.RU {
    color:rgb(110, 173, 255);
}

.link {
    color: rgb(130, 130, 130);
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0;
    text-decoration-color: rgb(130, 130, 130);
    margin: 0 0 118px 0;
    text-align: center;
    width: 70vw;
}
