.main_part_of_authorization{
    background-color: #1F1F1F;

    margin-top: 110px;
    margin-left: 62.5px;
    height: 350px;
    width: 250px;
    border-radius: 15px;
    align-items: center;

}

.form_of_user {
    display: flex;
    flex-direction: column;
}

.h1{
    color: white;
    text-align: center;
    margin-top: 0.5%;
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 25px;
}

.name{
    background: transparent;
    border: none;
    border-bottom: 1px solid #6EADFF;
    width: 180px;
    height: 15px;
    align-self: center;
    color: #C9C9C999;
    outline: none;
    font-size: 11px;
    text-align: center;
}


.pass{
    background: transparent;
    border: none;
    border-bottom: 1px solid #6EADFF;
    width: 180px;
    height: 15px;
    align-self: center;
    margin-top: 35px;
    opacity: 100%;
    color: #C9C9C999;
    outline: none;
    font-size: 11px;
    text-align: center;
}

.forgot_pass{
    font-size: 9px;
    text-align: right;
    padding-top: 35px;
    padding-right: 35px;
    color: #999999;
    padding-bottom: 10px;
}

.button{
    background-color: #6EADFF;
    color: #ffffff;
    width: 207px;
    height: 32px;
    align-self: center;
    border: none;
    border-radius: 5px;
    margin-top: 25px;
}

.text_user{
    font-size: 7px;
    text-align: center;
    text-wrap: balance;

    padding-top: 25px;
    word-spacing: normal;
    color: #919191;

}

.a{
    color: #919191;
}

.entrance{
    font-size: 13px;
    text-align: center;
    color: #999999;
    margin-top: 25px;
    text-decoration: none;
}



.logos{
    display: flex;
    justify-content: center;
}

.img{
    width: 25px;
    height: 25px;
    object-fit: cover;
    padding: 5px;
}


.foot{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 375px;
    height: 20px;
    background-color: #1F1F1F;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}