.main_part_of_authorization{
    background-color: #1F1F1F;
    font-family: Poppins, sans-serif;
    margin-top: 8em;
    margin-left: 1.75em;
    height: 25.5em;
    width: 20em;
    border-radius: 15px;
}

.form_of_user {
    display: flex;
    flex-direction: column;
}

.h1{
    color: white;
    text-align: center;
    margin-top: 0.5%;
    font-size: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.name{
    border: none;
    background-color: #2e2e2e;
    padding: 5px;
    border-radius: 4px;
    width: 25em;
    height: 3em;
    align-self: center;
    color: #C9C9C999;
    outline-color: #6EADFF;
    font-size: 12px;
    text-align: center;
}


.pass{
    border: none;
    background-color: #2e2e2e;
    padding: 5px;
    border-radius: 4px;
    width: 25em;
    height: 3em;
    align-self: center;
    margin-top: 2em;
    opacity: 100%;
    color: #C9C9C999;
    outline-color: #6EADFF;
    font-size: 12px;
    text-align: center;
}

.forgot_pass{
    font-size: 0.8em;
    text-align: right;
    padding-top: 2em;
    padding-right: 1em;
    color: #999999;
    padding-bottom: 30px;
}

.button{
    font-family: Poppins, sans-serif;
    font-size: 0.85em;
    background-color: #6EADFF;
    color: #ffffff;
    width: 22em;
    height: 4em;
    align-self: center;
    border: none;
    border-radius: 1em;
    margin-top: 1em;
    margin-bottom: 0;
    padding: 0.5em;
}

.text_user{
    font-size: 0.6em;
    text-align: center;
    text-wrap: balance;
    margin-top: 0;
    margin-bottom: 3em;
    padding-top: 1.5em;
    word-spacing: normal;
    color: #919191;
}

.a{
    color: #919191;
}

.entrance{
    font-size: 13px;
    text-align: center;
    color: #999999;
    margin-top: 0;
}


.logos{
    display: flex;
    justify-content: center;
}

.img{
    width: 35px;
    height: 35px;
    background-color: #1F1F1F;
    border-radius: 10%;
    padding: 3px;
}

.vk {
    margin-left: 15px;
}

.register{
    color: #C9C9C9;
    font-size: 10px;
    text-align: center;
    margin-top: 25px;
}

.register a{
    color: #6EADFFB2;
    text-decoration: none;
}


