.container {
    font-family: Montserrat sans-serif;
    display: grid;
}

.styleTitle {
    color: #FFFFFF;
    text-align: center;
    font-size: 1em;
    margin-top: 6em;
    margin-bottom: 3em;
}

.styleButton {
    display: flex;
    justify-self: center;
    color: #ffffff;
    background-color: #6EADFF;
    border: none;
    border-radius: 0.5em;
    font-size: 1.1em;
    padding: 1em 5em 1em 5em;
    margin-top: 2em;
    /*width: 5em;*/
    /*height: 3em*/

}