.container{
    background-color: #1F1F1F;
    width: 12em;
    height: 18em;
    border-radius: 15px;
    text-align: center;
    margin-left: 2em;
    margin-top: 4em;
    font-size: 1.5em;
    font-family: Poppins, sans-serif;
    color: white;
}

.name_of_company{
    display: flex;
    justify-content: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-bottom: 1em;
}

.RU{
    color: #6EADFF;
}

.registration{
    margin-top: 0.2em;
    font-size: 1em;
}

.form_of_registration{
    display: block;
    margin-top: 1em;
}

.input{
    background-color: #2e2e2e;
    width: 17em;
    height: 1.6em;
    color: #999999;
    font-size: 0.5em;
    text-align: center;
    border: none;
    border-radius: 4px;
    padding: 0.4em;
    margin-bottom: 0.7em;
    outline-color: #6EADFF;
}

.remember{
    display: flex;
    padding-top: 0.2em;
    margin-left: 1.58em;
    margin-top: 0.2em;
}

.remember_checkbox{
    width: 0.8em;
    height: 0.8em;
    margin: 0 0 0 0;
}

.remember_text{
    margin: 0 0 0 1em;
    font-size: 0.4em;
}

.btn{
    color: #fff;
    background-color: #6EADFF;
    border: none;
    border-radius: 0.5em;
    width: 14em;
    height: 3em;
    margin-top: 3em;
    margin-bottom: 0.5em;
}

.text_user{
    font-size: 0.4em;
    color: #919191;
    text-wrap: balance;
    margin-top: 1em;
    height: 0;
}

.a{
    color: #919191;
}

.fast_reg{
    margin-top: 4.5em;
    font-size: 0.6em;
    color: #919191;
}

.logos{
    display: flex;
    justify-content: center;
}

.img{
    width: 35px;
    height: 35px;
    background-color: #1F1F1F;
    border-radius: 10%;
    padding: 3px;
}

.vk {
    margin-left: 15px;
}

.foot{
    display: flex;
    margin: auto;
}

.h4{
    color: #919191;
    font-size: 0.5em;
}

.link{
    color: #6EADFF;
    font-size: 0.5em;
}
